.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'header header'
    'image  details';
}

.product__header {
  height: 65px;
  grid-area: header;
}

.product__title {
  font-size: 32px;
}

.product__subtitle {
  font-size: 14px;
  color: #aaa;
}

.product__details {
  grid-area: details;
  min-width: 500px;
}

.product__stock {
  font-size: 14px;
  font-weight: 550;
}

.product__price {
  font-size: 30px;
  font-weight: 600;
}

.product__cart-info {
  background-color: #eee;
  padding: 20px;
  margin: 20px 0;
}

.product__add-btn {
  width: 250px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: dodgerblue;
  transition: background-color 400ms;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product__add-btn:hover {
  background-color: royalblue;
}

.product__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding-left: 12px;
}

.product__feature {
  font-size: 12px;
  color: #666;
}
