.product-images {
  display: flex;
  align-items: center;
  grid-area: image;
}

.product-images__list {
  display: flex;
  flex-direction: column;
}

.product-images__small-image {
  height: 60px;
  width: 60px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;
}

.product-images__image-container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.product-images__image {
  max-width: 100%;
}
